@model Jeu

<h2>Supprimer le jeu #@Model.Id</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer ce joueur ?
</div>

@*TODO: Complétez cette vue de façon à
        confirmer ou annuler la supression*@
<div class="container text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Jeu" asp-action="SupprimerJeu" asp-route-jeuId="@Model.Id">Confirmer</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Jeu" asp-action="Index">Annuler</a>
</div>

